@media (max-width: 992px) {
  .header-right {
    display: none; }
  .services-inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px; }
  .services-item {
    background-image: url("../img/services.png"); }
  .about-inner {
    grid-gap: 50px;
    grid-template-columns: 1fr; }
  .about-cases {
    text-align: center;
    grid-gap: 20px; }
  .about-cases__item {
    padding: 30px; } }

@media (max-width: 767px) {
  .services-inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px; }
  .reviews-block {
    padding: 15px 30px; }
  .contact-inner {
    grid-template-columns: repeat(1, 1fr); }
  .our-contacts {
    justify-content: space-around; }
  .contact-text {
    text-align: center; }
  .title {
    margin-bottom: 40px;
    font-size: 38px; }
  .title-h3 {
    margin-bottom: 30px;
    font-size: 20px; }
  .header-inner {
    padding: 13px 0 13px 0; }
  .services,
  .about,
  .clients,
  .reviews {
    padding: 40px 0 50px 0; }
  .contact-p {
    margin-bottom: 40px;
    font-size: 13px; }
  .contact {
    padding-top: 40px; } }

@media (max-width: 480px) {
  .services-inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px; }
  .services-item:nth-child(even) {
    display: none; }
  .contact-form__item {
    grid-column: 1/3;
    margin-top: 10px; }
    .contact-form__item:nth-child(1) {
      margin: 0 0 0 0; }
  .logo-name {
    display: none; }
  .title {
    font-size: 33px; } }

@media (max-width: 546px) {
  .services-item__name {
    left: 20px; } }
